*{
    padding: 0;
    margin: 0;
}
.property-list {
    width: 100%;
    max-width: 1101px;
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.property-item{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.property-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.property-title{
    color: black;
    font-size: 14px;
}
.property-title h1{
    font-size: 20px;
}